<table class="table">
  <thead>
    <tr class="table-light">
      <th>N°</th>
      <th>Nombre del Archivo</th>
      <th>Propietario</th>
      <th>Subido</th>
      <th>Tamaño</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="onDropped($event)" >
    <tr *ngFor="let file of files; index as i" cdkDrag [ngSwitch]="file.extension">
      <td>{{i+1}}</td>
      <td >
        <i *ngSwitchCase="'docx'" class="far fa-file-word" style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'xlsx'" class="far fa-file-excel" style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'pptx'" class="far fa-file-powerpoint" style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'pdf'" class="far fa-file-pdf" style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'jpg'" class='far fa-file-image' style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'png'" class='far fa-file-image' style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'jpge'" class='far fa-file-image' style="margin-right: 10px;"></i>
        <i *ngSwitchCase="'mp4'" class="far fa-file-video" style="margin-right: 10px;"></i>
        <i *ngSwitchDefault class="far fa-file" style="margin-right: 10px;"></i>
        {{file.archivo}}
      </td>
      <td>{{file.author}}</td>
      <td>{{file.fec_crea |date:"shortDate"}}</td>
      <td>{{file.peso | filesize}}</td>
    </tr>
  </tbody>
</table>