
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white">ARCHIVOS</div>
        <div class="card-body">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra, y suelta!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
        <app-list [registrado]="registrado"></app-list>
        </div>
      </div>
    </div>
  </div>
</div>
